#!/usr/bin/env bash
set -eu

TOKEN=$(curl -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 600")
AVAILABILITY_ZONE="$(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone -H "X-aws-ec2-metadata-token: $TOKEN" )"
REGION="$(curl -s http://169.254.169.254/latest/meta-data/placement/region -H "X-aws-ec2-metadata-token: $TOKEN" )"
INSTANCE="$(curl -s http://169.254.169.254/latest/meta-data/instance-id -H "X-aws-ec2-metadata-token: $TOKEN" )"
LOCAL_IPV4="$(curl -s http://169.254.169.254/latest/meta-data/local-ipv4 -H "X-aws-ec2-metadata-token: $TOKEN" )"

tee /etc/consul.d/consul.hcl <<-EOF
node_name = "$INSTANCE"
data_dir  = "/var/lib/consul"
log_level = "INFO"

bootstrap_expect   = 1
leave_on_terminate = true

server       = true

advertise_addr = "$LOCAL_IPV4"
retry_join = ["127.0.0.1"]
client_addr    = "0.0.0.0"

ui_config {
  enabled = true
}
EOF

mkdir -p /var/lib/consul
chown consul:consul /var/lib/consul

systemctl daemon-reload
systemctl enable consul.service
systemctl start consul.service